<div class="container-fluid bg-light py-3">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">{{ !entity.id ? "Add" : "Edit" }}Child</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="childForm" (submit)="submit()" novalidate>
        <div class="form-group">
          <label for="firstName-input"> * <span translate>Firstname</span></label>
          <input
            type="text"
            formControlName="firstName"
            id="firstName-input"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            [(ngModel)]="entity.firstName"
          />
          <div class="invalid-feedback" *ngIf="submitted && f.firstName.errors">
            <p *ngIf="f.firstName.errors.required">Required !</p>
          </div>
        </div>

        <div class="form-group">
          <label for="lastName-input"> * <span translate>Lastname</span></label>
          <input
            type="text"
            formControlName="lastName"
            id="lastName-input"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            [(ngModel)]="entity.lastName"
          />
          <div class="invalid-feedback" *ngIf="submitted && f.lastName.errors">
            <p *ngIf="f.lastName.errors.required">Required !</p>
          </div>
        </div>

        <div class="form-group">
          <label for="gender-input"> * <span translate>Gender</span></label>
          <ng-select
            formControlName="gender"
            id="gender-input"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
            [(ngModel)]="entity.gender"
          >
            <ng-option value="Male">MALE</ng-option>
            <ng-option value="Female">FEMALE</ng-option>
          </ng-select>

          <div class="invalid-feedback" *ngIf="submitted && f.gender.errors">
            <p *ngIf="f.gender.errors.required">Required !</p>
          </div>
        </div>

        <div class="form-group">
          <label for="dob-input"> * <span translate>Dob</span></label>
          <div class="input-group">
            <input
              placeholder="yyyy-mm-dd"
              formControlName="dob"
              id="dob-input"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
              [(ngModel)]="entity.dob"
              ngbDatepicker
              #d_dob="ngbDatepicker"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d_dob.toggle()" type="button">
                <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
              </button>
            </div>
          </div>
          <div class="invalid-feedback" *ngIf="submitted && f.dob.errors">
            <p *ngIf="f.dob.errors.required">Required !</p>
          </div>
        </div>

        <div class="form-group">
          <label for="image-input"> <span translate>Image</span></label>
          <input
            type="file"
            accept=".png,.jpg"
            (change)="upload($event)"
            formControlName="image"
            id="image-input"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.image.errors }"
            [(ngModel)]="entity.image"
          />
          <progress
            max="100"
            *ngIf="(uploadProgress | async); let uploadProgressPercentage"
            [value]="uploadProgressPercentage"
            ><span>%</span></progress
          >

          <div class="invalid-feedback" *ngIf="submitted && f.image.errors">
            <p *ngIf="f.image.errors.required">Required !</p>
          </div>
        </div>



        <div class="form-group">
          <label for="description-input"> <span translate>Description</span></label>
          <textarea
            formControlName="description"
            id="description-input"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
            [(ngModel)]="entity.description"
            rows="8"
          ></textarea>
          <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
            <p *ngIf="f.description.errors.required">Required !</p>
          </div>
        </div>

        <div class="form-group">
          <label for="interests-input"> <span translate>Interests</span></label>
          <input
            type="text"
            formControlName="interests"
            id="interests-input"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.interests.errors }"
            [(ngModel)]="entity.interests"
          />
          <div class="invalid-feedback" *ngIf="submitted && f.interests.errors">
            <p *ngIf="f.interests.errors.required">Required !</p>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="parent-input"> <span translate>Parent</span></label>
          <ng-select [items]="parents$ | async" bindLabel="name" bindValue="id"> </ng-select>

          <div class="invalid-feedback" *ngIf="submitted && f.parent.errors">
            <p *ngIf="f.parent.errors.required">Required !</p>
          </div>
        </div> -->

        <button type="submit" class="btn btn-primary"><span translate>Submit</span></button>
      </form>
    </div>
  </div>
</div>
