<div class="card">
    <div class="form-wrapper text-center" style="width: 80%; background-color: #eef ; padding: 1.5em">
        <h2 class="text-center">Add/Edit Child </h2>
        <form [formGroup]="childForm" (submit)="submit()" novalidate>

            <div class="form-group">
                <label for="firstName-input">
                    <span translate>firstName</span>
                </label>
                <input type="text" class="form-control" formControlName="firstName" id="firstName-input" [(ngModel)]="entity.firstName">
                <div class="alert alert-danger" *ngIf="childForm.get('firstName').errors && childForm.get('firstName').touched">
                    <p *ngIf="childForm.get('firstName').errors.required">Required !</p>
                </div>

            </div>


            <div class="form-group">
                <label for="lastName-input">
                    <span translate>lastName</span>
                </label>
                <input type="text" class="form-control" formControlName="lastName" id="lastName-input" [(ngModel)]="entity.lastName">
                <div class="alert alert-danger" *ngIf="childForm.get('lastName').errors && childForm.get('lastName').touched">
                    <p *ngIf="childForm.get('lastName').errors.required">Required !</p>
                </div>

            </div>

            <div class="form-group">
                <label for="image-input">
                    <span translate>Image</span>
                </label>
                <input type="file" (change)="upload($event)" accept=".png,.jpg"/>
            </div>


            <div class="form-group">
                <label for="gender-input">
                    <span translate>gender</span>
                </label>
                <ng-select formControlName="gender" id="gender-input" [(ngModel)]="entity.gender">
                    <ng-option value="Male">MALE</ng-option>
                    <ng-option value="Female">FEMALE</ng-option>
                </ng-select>

                <div class="alert alert-danger" *ngIf="childForm.get('gender').errors && childForm.get('gender').touched">
                    <p *ngIf="childForm.get('gender').errors.required">Required !</p>
                </div>

            </div>


            <div class="form-group">
                <label for="dob-input">
                    <span translate>dob</span>
                </label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="dob" id="dob-input" [(ngModel)]="entity.dob" ngbDatepicker
                        #d_dob="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d_dob.toggle()" type="button">
                            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                        </button>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="childForm.get('dob').errors && childForm.get('dob').touched">
                    <p *ngIf="childForm.get('dob').errors.required">Required !</p>
                </div>

            </div>


            <div class="form-group">
                <label for="description-input">
                    <span translate>description</span>
                </label>
                <textarea formControlName="description" id="desc-input" [(ngModel)]="entity.description"></textarea>
                <div class="alert alert-danger" *ngIf="childForm.get('description').errors && childForm.get('description').touched">
                    <p *ngIf="childForm.get('description').errors.required">Required !</p>
                </div>

            </div>





            <div class="form-group">
                <label for="interests-input">
                    <span translate>interests</span>
                </label>
                <input type="text" class="form-control" formControlName="interests" id="interests-input" [(ngModel)]="entity.interests">
                <div class="alert alert-danger" *ngIf="childForm.get('interests').errors && childForm.get('interests').touched">
                    <p *ngIf="childForm.get('interests').errors.required">Required !</p>
                </div>

            </div>


            <div class="form-group">
                <label for="parent-input">
                    <span translate>parent</span>
                </label>
                <ng-select [items]="parents$ | async" bindLabel="name" bindValue="id">
                </ng-select>

                <div class="alert alert-danger" *ngIf="childForm.get('parent').errors && childForm.get('parent').touched">
                    <p *ngIf="childForm.get('parent').errors.required">Required !</p>
                </div>

            </div>


            <button type="submit" class="btn btn-primary">
                <span translate>Submit</span>
            </button>
        </form>
    </div>
</div>